/* shared style properties */

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Work Sans', sans-serif;
}

/* nav style */

nav{
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav > ul{
    display: flex;
}
nav li {
    list-style: none;
    margin-right: 2.20rem;
    font-weight: 600;
    font-size: 1rem;
}
.nav-titl{
    color: #3a3a3a;
    font-size: 1.50rem;
    font-weight: 700;
}

/* Banner style start */

.banner-container{
    display: flex;
    align-items: center;
    margin: 50px auto;
    margin-bottom: 4rem;
}
.banner-text{
    margin-left: 5rem;
}
.banner-title{
    color: #3a3a3a;
    font-size: 3.20rem;
    font-weight: 700;
    line-height: 5rem;
    position: relative;
}
.banner-detsils{
    position: relative;
    color: #3a3a3a;
    font-size: 1rem;
    font-weight: 600;
    margin-top:  1rem;
}
.banner-btn{
    color: #fff;
    background-color: #e02c6d;
    padding: 10px 24px;
    border-radius: 3rem;
    border: none;
    margin-top:  1rem;
}
.banner-photo{
    background-image: url('/images/Circle\ design.svg');
    background-repeat: no-repeat;
}
.banner-img{
    width: 500px;
}

/* ecommarce style */
.ecomarce-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 50px 0;
}
.first-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.second-box{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;

}

/*         <!-- Popular Collection style -->
 */

 .collection-title{
    text-align: center;
    color: #3a3a3a;
    font-size: 2rem;
    font-size: 600;
    line-height: 4rem;
    padding-top: 7rem;
    margin-bottom: 2rem;
}
 .collection-contaier{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 40px 40px;
    gap: 1rem;
    margin-left: 2rem;
}
.card-box{
    width: 320px;
    height: 450px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
}
.collection-img{
    position: relative;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.product-name{
    color: #18191f;
    font-size: 1.80rem;
    font-weight: 500;
    line-height:3.50rem ;
    margin-left: 1rem;
}
.product-price{
    color: #18191f;
    font-size: 1.80rem;
    font-weight: 400;
    line-height:2rem ;
    margin-left: 1rem;
}
.str{
    margin-left:1rem ;
    line-height:2rem ;
}
.checked {
    color: orange;
}
.product-detsil{
    color: #787878;
    font-size: 1rem;
    font-weight: 700;
    line-height:1.25rem ;
    margin-left: 1rem;
}
.see-btn{
    color: #fff;
    background-color: #e02c6d;
    padding: 10px 24px;
    border-radius: 3rem;
    border: none;
    margin-left: 65.75rem;
}


/* VLOGING CONTSINER STYLE */

.blog-container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 50px;
    margin: 0 auto;

}
.blog-img{
    height: auto;
    width: 50%;
}
.blog-contant{
    height: auto;
    width: 50%;
}
.blog-title{
    color: black;
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 4.25rem;
}
.blog-details{
    color: gray;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.80rem;
}


/*  <!-- footer setion style --> */

.footer-container{
    background-color:gray;
    color: white;
    text-align: center;
}
.footer-content{
    padding-top: 100px;
    margin: 0px auto;
}
.footer-title{
    font-size: 1.70rem;
    font-weight: 700;
}
.coppyright{
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.70rem;
}
.social-link{
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-items: center;
    margin-left: 35.28rem;
    margin-top: 1rem;
    padding-bottom: 2rem;
}




/* Responsive Style */

/* Extra small devices (phones, 600px and down) */

@media only screen and (max-width: 576px) {

    nav > h4 {
         text-align: center;
    }
    nav{
        margin-top: 0px;
        height: 30vh;
        width: 100%;
        flex-direction: column;
        gap: 2rem;
        
    }
    nav > ul {
        margin-top: -100px;
        padding: 10px;
    }

    /* Nav bar container END */

    /* .banner-container{
        
    } */
    .banner-img{
        background-image: url('./images/Circle design.svg');
        background-repeat: no-repeat;
    }
    .banner-photo{
        background: none;
    }
    .banner-btn{
        margin-bottom: 10px;
    }


    /* BanNER CONTAINER END */
}

@media only screen and (min-width: 576px) and (max-width: 992px){



}